@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont.ttf') format('truetype');
    font-weight: 100 1000;
    font-style: oblique -11 0;
  }

  html, body {
    color: #1E4035;
  }
  
}
/* Custom Grid Code*/
.bento-grid {
  grid-template-areas:
  "first first second second"  
  "first first third fourth"
  "fifth fifth fifth fifth";
}

.bento-grid > * > div {
  background-image: url(../images/gradient-background.webp) ;
  background-size: min(1100px, calc(100vw - 96px));
  width: 100%;
  height: 100%;
}

.bento-grid > *:first-child {
  grid-area: first;
  background-position: top left;
}

.bento-grid > *:nth-child(2) {
  grid-area: second;

  & > div {
    background-position: top right;
  }
}

.bento-grid > *:nth-child(3) {
  grid-area: third;

  & > div {
    background-position: center right 30%;
  }
}

.bento-grid > *:nth-child(4) {
  grid-area: fourth;

  & > div {
    background-position: center right;
  }
}

.bento-grid > *:nth-child(5) {
  grid-area: fifth;

  & > div {
    background-position: bottom left;
  }
}
