@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont.ttf') format('truetype');
    font-weight: 100 1000;
    font-style: oblique -11 0;
  }

  html, body {
    @apply text-[#1E4035]
  }
  
}

/* Button */

button {
  @apply text-lg px-4 py-3 leading-tight flex bg-[#09c269] rounded-md text-white antialiased;
}

button.outline-button {
  @apply bg-transparent border border-gray-500 text-gray-500;
}

.text-scroller {
  @apply relative inline-grid h-[1.15em] leading-none overflow-y-clip duration-700 before:transition-all before:duration-700 before:block before:absolute before:w-[110%] before:h-[76px] before:left-1/2 before:top-1/2 before:bg-green-100 before:rounded-lg before:-z-10 before:-translate-x-1/2 before:-translate-y-1/2;

  & span {
    grid-area: 1/1;
    will-change: transform;
    @apply transition motion-reduce:transition-none duration-700 ease-out-back;
  }

  & .incoming-word {
    @apply opacity-0 -translate-y-full absolute;
  }

  & .outgoing-word {
    @apply opacity-0 translate-y-full absolute;
  }
}

/* Dark Overlay */
.dark-overlay {
  @apply isolate before:absolute before:inset-0 before:bg-[#0F1D18] before:opacity-50 before:-z-10;
  
  &::before {
    border-radius: inherit;
  }
}

/* Custom Grid Code*/
.bento-grid {
  grid-template-areas:
  "first first second second"
  "first first second second" 
  "first first third fourth"
  "first first third fourth"
  "fifth fifth fifth fifth";
}

:where(.bento-grid > * > div) {
  background-image: url(../images/gradient-background.webp) ;
  background-size: min(1100px, calc(100vw - 96px));
  @apply w-full h-full;
}

.bento-grid > *:first-child {
  grid-area: first;
}

.bento-grid > *:nth-child(2) {
  grid-area: second;
}

.bento-grid > *:nth-child(3) {
  grid-area: third;
}

.bento-grid > *:nth-child(4) {
  grid-area: fourth;
}

.bento-grid > *:nth-child(5) {
  grid-area: fifth;
}

@media (min-width: 650px)and (max-width: 994px) {
  .bento-grid {
    grid-template-areas:
    "first first first first"
    "second second second second"
    "third third fourth fourth"
    "fifth fifth fifth fifth";
  }
}
